<nav class="pg-row">
	<div class="pg-col-25">
		<div class="pg-btn" rv-on-click="app.location | = 'categories' ">Groups<span class="fa fa-angle-double-down fa-pull-right"></span></div>
	</div>
	<div class="pg-col-25">
		<div class="pg-btn" rv-on-click="app.location | = 'feeds'  ">Feeds<span class="fa fa-angle-double-down fa-pull-right"></span></div>
	</div>
	<div class="pg-col-25">
		<div class="pg-btn" rv-on-click="app.location | = 'watchers'  ">Watchers<span class="fa fa-angle-double-down fa-pull-right"></span></div>
	</div>
	<div class="pg-col-25">
		<div class="pg-btn" rv-on-click="app.location | = 'config'  ">Config<span class="fa fa-angle-double-down fa-pull-right"></span></div>
	</div>
</nav>
