<section>
	<h2 class="pg-text-center">Feed Saved!</h2>
	<div class="pg-text-center pg-padding pg-margin-bottom-big">Your Feed has succesfuly been saved. What do you want to do next?</div>
	<div class="pg-row">
		<div class="pg-col pg-text-right">
			<div class="pg-btn" rv-on-click="feeds.form.initialize">Add a new Feed<i class="fa fa-plus"></i></div>
		</div>
		<div class="pg-col pg-text-left">
			<div class="pg-btn" rv-on-click="feeds.list.show">Back to Feed List<i class="fa fa-list"></i></div>
		</div>
	</div>
</section>
