<!doctype html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="../../styles/pg-styles.css">
      <link rel="stylesheet" type="text/css" href="../../styles/imports/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
      <script src="../../scripts/popup.js"></script>
  </head>
  <body class="pg-unselectable" rv-model="'app'">
      <header rv-view="'layout/header'" class="pg-header"></header>
      <main rv-view="app.location" class="pg-padding-biggest"></main>
    	<footer rv-view="'layout/footer'"></footer>
  </body>
</html>

